@page
@model SportifyHub.Areas.Identity.Pages.Account.Manage.IndexModel
@{
    ViewData["Title"] = "پروفایل";
    ViewData["ActivePage"] = SportifyHub.Areas.Identity.Pages.Account.Manage.ManageNavPages.Index;
    Layout = "/Areas/Identity/Pages/Account/Manage/_Layout.cshtml"; // Use Manage layout
}

<h4>@ViewData["Title"]</h4>
@* <partial name="_StatusMessage" for="StatusMessage" /> *@ @* Assuming _StatusMessage partial exists or will be added *@
<p>این یک صفحه جایگزین برای مدیریت حساب است. Scaffold کامل Identity انجام نشد.</p>
<p>در یک برنامه واقعی، اینجا فرمی برای مشاهده و ویرایش اطلاعات پروفایل کاربر (نام، شماره تلفن و ...) قرار می گیرد.</p>

@* Example: Displaying some user info (non-editable here) *@
@if (Model.Input != null) {
<div>
    <dl class="row">
        <dt class="col-sm-3">نام کاربری (ایمیل)</dt>
        <dd class="col-sm-9">@Model.Username</dd>
        <dt class="col-sm-3">نام (از ApplicationUser)</dt>
        <dd class="col-sm-9">@Model.Input.Name</dd>
        <dt class="col-sm-3">شماره تلفن</dt>
        <dd class="col-sm-9">@Model.Input.PhoneNumber</dd>
        <dt class="col-sm-3">آدرس</dt>
        <dd class="col-sm-9">@Model.Input.Address</dd>
    </dl>
</div>
}
